main {
	background-color: var(--bs-background);
	min-height: 80vh;
}

/* USER DEFINED CHANGES */
@font-face {
	font-family: 'Monument Extended';
	src: url('https://srihanumantnursery.in/var/www/html/fonts/MonumentExtended.otf');
}
@font-face {
	font-family: 'Zeichen';
	src: url('https://srihanumantnursery.in/var/www/html/fonts/Zeichen.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&family=Roboto&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/monument-extended'); */
:root {
	--bs-primary: #3c5333;
	--bs-primarylight: #3c533380;
	--bs-background: #e5e5e5;
	--bs-dark: #1b1b1b;
	--bs-white: #ffff;
	--bs-text: #30362e;
	--bs-font-primary: 'Montserrat', sans-serif;
	--bs-font-extended: 'Monument Extended', sans-serif;
	--bs-font-cursive: 'Zeichen', cursive;
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
}

.main-page-headline {
	width: auto;
	position: relative;
	top: 2vw;
	margin-top: 8vw;
}
@media screen and (max-width: 768px) {
	.main-page-headline {
		width: auto;
		position: relative;
		top: 0vw;
		margin-top: 0;
	}
}
.main-page-pic {
	position: relative;
	top: 20px;
	left: 55px;
}
@media screen and (max-width: 600px) {
	.main-page-pic {
		position: relative;
		top: 20px;
		left: 0px;
	}
}
@media screen and (max-width: 768px) {
	.main-page-pic {
		position: relative;
		top: 20px;
		left: 0px;
	}
}
.btn-outline-customprimary {
	font-family: var(--bs-font-extended);
	font-size: clamp(13px, 13px, 13px);
	width: 180px;
	height: 40px;
	font-weight: lighter;
	border-radius: 20px;
	border-color: var(--bs-dark);
	margin-top: 40px;
	background-color: var(--bs-primary);
	margin-right: 30px;
	color: white;
}
.btn-outline-customsecondary {
	border-radius: 20px;
	width: 250px;

	height: 40px;
	font-size: clamp(13px, 13px, 13px);
	font-family: var(--bs-font-extended);
	border-color: var(--bs-dark);

	margin-top: 20px;
}
.searchBox {
	margin-right: 0;
	width: fit-content;
}
.btn-primary-sappling {
	margin: 0.5rem;
	color: black;
	border-color: black;
}
.form-control::placeholder {
	color: var(--bs-dark);
	opacity: 1;
	font-family: var(--bs-font-primary);
	font-size: 0.8rem;
}

.navbar {
	background-color: var(--bs-background);
	font-family: var(--bs-font-extended);
	color: var(--bs-dark);
	font-size: 0.8rem;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 0.5px;
	padding-bottom: 0.5px;
}
@media only screen and (max-width: 1366px) and (min-width: 768px) {
	.navbar-nav {
		font-size: 0.6rem;
	}

	.searchBox {
		margin-right: 0;
		width: 35%;
	}
}
t1 {
	font-size: 1.8rem;
	padding: 1rem 0;
	font-family: var(--bs-font-extended);
}
t2 {
	font-size: 30px;
	padding: 1rem 0;
	font-family: var(--bs-font-extended);
}
@media screen and (max-width: 600px) {
	t2 {
		font-size: 18px;
	}
}
@media screen and (max-width: 768px) {
	t2 {
		font-size: 19px;
	}
}

t3 {
	line-height: 3rem;
	font-size: 160px;

	margin-bottom: 90px;
	color: var(--bs-primary);
	font-family: var(--bs-font-cursive);
}
@media screen and (max-width: 600px) {
	t3 {
		font-size: 70px;
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 768px) {
	t3 {
		font-size: 86px;
		margin-bottom: 40px;
	}
}
t5 {
	font-family: var(--bs-font-extended);
	font-size: 13px;
	padding: 1rem 0;
}
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: var(--bs-font-primary);
	font-size: inherit;
	line-height: inherit;
}
.form-control {
	margin-top: 7px;
	display: block;
	width: 100%;
	height: 40px;
	padding: 0.5rem 1.1rem;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #343a40;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* ENDSHERE */
i:hover {
	color: #00fcb6;
}
h3 {
	padding: 0.5rem 0.5rem 0rem 0.5rem;
	/* font-size: 42px; */
}
h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}
h6 {
	font-size: 13px;
	padding: 1rem 0;
}
h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}
.rating span {
	margin: 0.2rem;
}

.figure-img {
	border-radius: 4%;
}
/* carousel  */
.carousel {
	margin-top: 1vw;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
	display: flex;
}

.carousel-caption {
	position: absolute;
	top: 0;
}
.carousel-caption h2 {
	color: #fff;
}
.carousel img {
	height: 300px;
	padding: 30px;
	border-radius: 50%;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}
@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

.btn-primary {
	color: #fff;
	background-color: #15b3ac;
	border-color: #15b3ac;
}
.btn-primary:hover {
	color: #fff;
	background-color: #179992;
	border-color: #151515;
}
.section-1-main {
	margin-bottom: 50px;
}

/* .jumbotron {
	background-image: url('img/Jumbotron.jpg');
	background-size: 100% 100%;
	height: 100%;
} */
.navbar {
	margin-bottom: 0px;
}
.jumbotron {
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 10%;
	color: white;
	height: 100vh;
	/* background-image: url('img/Jumbotron.jpg'); */
	background: linear-gradient(
			0deg,
			rgba(22, 50, 75, 0.62),
			rgba(22, 50, 75, 0.62)
		),
		url('img/Jumbotron.jpg');

	background-size: 100% 100%;
}
.jumbotron h6 {
	color: white;
}
.jumbotron h1 {
	color: white;
}

.jumbotron {
	margin-bottom: 5;
	margin-top: 0;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 10%;
	color: white;
	height: 100vh;
	/* background-image: url('img/Jumbotron.jpg'); */
	background: linear-gradient(
			0deg,
			rgba(22, 50, 75, 0.62),
			rgba(22, 50, 75, 0.62)
		),
		url('img/Jumbotron.jpg');

	background-size: 100% 100%;
}
.jumbotron h6 {
	color: white;
}
.jumbotron h1 {
	color: white;
}

.img-wrapper {
	overflow: hidden;
}

img.hover-zoom {
	transition: all 0.3s ease 0s;
	width: 100%;
}
img.hover-zoom:hover {
	transform: scale(1.25);
}
.navbar {
	padding-bottom: 0%;
	padding-top: 0%;
}
/*******************FOOTER CSS***************************************/
/*
.footer-bs {
	background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	border-color: transparent;
}
.footer-bs .footer-brand h2 {
	margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
	padding: 5px 0px;
}
.footer-bs .footer-nav ul.pages a {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-nav ul.list li {
	padding: 5px 0px;
}
.footer-bs .footer-nav ul.list a {
	color: rgba(255, 255, 255, 0.8);
}
.footer-bs .footer-nav ul.list a:hover {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-bs .footer-social ul {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li {
	padding: 5px 4px;
}
.footer-bs .footer-social a {
	color: rgba(255, 255, 255, 1);
}
.footer-bs .footer-social a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}
.footer-bs .footer-ns p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
	.footer-bs .footer-nav,
	.footer-bs .footer-social,
	.footer-bs .footer-ns {
		border-left: solid 1px rgba(255, 255, 255, 0.1);
	}
}
*/
