@import url('http://fonts.cdnfonts.com/css/monument-extended');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&family=Source+Sans+Pro&display=swap');
:root {
	--bs-blue: #4582ec;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #e83e8c;
	--bs-red: #d9534f;
	--bs-orange: #fd7e14;
	--bs-yellow: #f0ad4e;
	--bs-green: #02b875;
	--bs-teal: #20c997;
	--bs-cyan: #17a2b8;
	--bs-white: #fff;
	--bs-gray: #868e96;
	--bs-gray-dark: #343a40;
	--bs-primary: #3c5333;
	--bs-primary-light: #3c533380;
	--bs-background: #e5e5e5;
	--bs-text: #30362e;
	--bs-secondary: #adb5bd;
	--bs-success: #02b875;
	--bs-info: #17a2b8;
	--bs-warning: #f0ad4e;
	--bs-danger: #d9534f;
	--bs-light: #f8f9fa;
	--bs-dark: #1b1b1b;
	--bs-font-sans-serif: 'Montserrat', sans-serif;
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	--bs-font-extended: 'Monument Extended', sans-serif;
	--bs-gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0)
	);
}
.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}

/* .btn-outline-success {
	margin: 1rem;
	color: var(--bs-dark);
	border-color: var(--bs-dark);
} */

main {
	background-color: var(--bs-background);
	min-height: 80vh;
}
i:hover {
	color: #00fcb6;
}
h3 {
	padding: 0.5rem 0.5rem 0rem 0.5rem;
	/* font-size: 42px; */
}
h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}
h6 {
	font-size: 13px;
	padding: 1rem 0;
}
h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}
.rating span {
	margin: 0.2rem;
}

.figure-img {
	border-radius: 4%;
}
/* carousel  */
.carousel {
	margin-top: 1vw;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
	display: flex;
}

.carousel-caption {
	position: absolute;
	top: 0;
}
.carousel-caption h2 {
	color: #fff;
}
.carousel img {
	height: 300px;
	padding: 30px;
	border-radius: 50%;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}
@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

.fa-seedling {
	color: var(--bs-dark);
}
.btn-primary {
	margin: 0.5rem;
	color: #fff;
	background-color: var(--bs-background);
	border-color: var(--bs-background);
}
.btn-primary:hover {
	color: #fff;
	background-color: var(--bs-background);
	border-color: var(--bs-background);
}
/* .jumbotron {
	background-image: url('img/Jumbotron.jpg');
	background-size: 100% 100%;
	height: 100%;
} */
.land-main {
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
	padding-right: 0;
}
.navbar {
	background-color: var(--bs-background);
	font-size: 0.8rem;
	font-family: var(--bs-font-extended);
	margin-bottom: 0px;
	padding-bottom: 0%;
	padding-top: 1%;
	padding-right: 1%;
}
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: var(--bs-font-sans-serif);
	font-size: inherit;
	line-height: inherit;
}
.nav-link {
	margin-left: 0.5rem;
	display: block;
	padding: 0.5rem 1rem;
	color: #4582ec;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}
.responsive {
	max-width: 100%;
	height: auto;
}
.form-control::placeholder {
	color: #868e96;
	opacity: 1;
	font-size: 0.62rem;
}
.searchBox {
	margin-right: 0;
	width: 30%;
}
.jumbotron {
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 10%;
	color: white;
	height: 100vh;
	/* background-image: url('img/Jumbotron.jpg'); */
	background: linear-gradient(
			0deg,
			rgba(22, 50, 75, 0.62),
			rgba(22, 50, 75, 0.62)
		),
		url('img/Jumbotron.jpg');

	background-size: 100% 100%;
}
.jumbotron h6 {
	color: white;
}
.jumbotron h1 {
	color: white;
}

.jumbotron {
	margin-bottom: 5;
	margin-top: 0;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 10%;
	color: white;
	height: 100vh;
	/* background-image: url('img/Jumbotron.jpg'); */
	background: linear-gradient(
			0deg,
			rgba(22, 50, 75, 0.62),
			rgba(22, 50, 75, 0.62)
		),
		url('img/Jumbotron.jpg');

	background-size: 100% 100%;
}
.jumbotron h6 {
	color: white;
}
.jumbotron h1 {
	color: white;
}

.img-wrapper {
	overflow: hidden;
}

img.hover-zoom {
	transition: all 0.3s ease 0s;
	width: 100%;
}
img.hover-zoom:hover {
	transform: scale(1.25);
}
footer {
	background-color: var(--bs-background);
	font-size: 0.8rem;
}
.footer-bs {
	background-color: var(--bs-background);
	padding: 60px 40px;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	border-color: transparent;
}
.footer-bs .footer-brand h2 {
	margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
	padding: 5px 0px;
}
.footer-bs .footer-nav ul.pages a {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-nav ul.list li {
	padding: 5px 0px;
}
.footer-bs .footer-nav ul.list a {
	color: rgba(255, 255, 255, 0.8);
}
.footer-bs .footer-nav ul.list a:hover {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-bs .footer-social ul {
	list-style: none;
	padding: 0px;
}
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li {
	padding: 5px 4px;
}
.footer-bs .footer-social a {
	color: rgba(255, 255, 255, 1);
}
.footer-bs .footer-social a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}
.footer-bs .footer-ns p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
	.footer-bs .footer-nav,
	.footer-bs .footer-social,
	.footer-bs .footer-ns {
		border-left: solid 1px rgba(255, 255, 255, 0.1);
	}
}
